.navbar {
  height: 60px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.navbar-brand img {
  float: left;
  margin-top: 0.16em;
  margin-right: 0.6em;
  position: absolute;
}
.navbar-text {
  vertical-align: middle;
  margin-top: 0.24em;
  margin-left: 2.8em;
}

